@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">DevSecOps Practices</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <img src="https://picsum.photos/800/300?grayscale" alt="DevSecOps Image" class="img-fluid" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Secure Development</h2>
        <p>Discover the best practices for secure software development.</p>
        <p><a class="btn btn-primary" href="/SecureDevelopment">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Continuous Integration</h2>
        <p>Explore tools and techniques for integrating security into CI pipelines.</p>
        <p><a class="btn btn-primary" href="/ContinuousIntegration">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Threat Modeling</h2>
        <p>Learn how to identify and mitigate potential security threats.</p>
        <p><a class="btn btn-primary" href="/ThreatModeling">Learn More &raquo;</a></p>
    </div>
</div>

to get special access, use this key: 
11A4YXR6Y0v36CYFkuT5I1_ZRWX91c8k0waSN6x7AiVJ6zZ9ZHUQXBblBqFQpKd23V6CL7MWMPopnmBxzn